*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.sdf
*.sln
*.opensdf
*.aps
*.i
*.vcproj
*.vcproj.*
CMakeCache.txt
cmake_install.cmake
*.ncb
DSpellCheck.dir/*
ZERO_CHECK.dir/*
Hunspell/CMakeFiles/*
Hunspell/Debug/*
Hunspell/hunspell-static.dir/*
Hunspell/Release/*
Hunspell/Debug/*
minizip/Debug/*
minizip/Release/*
libiconv/ReleaseStatic_Win32/*
libiconv/DebugStatic_Win32/*
libiconv/libiconv.dir/*
CMakeFiles/*
UnusedFiles/*
libiconv/CMakeFiles/*
minizip/minizip.dir/Debug/*
minizip/minizip.dir/Release/*
minizip/minizip/win32/
minizip/CMakeFiles
Debug/*
MinSizeRel/*
Release/*
Win32/*
src/config.h
ipch/*
lib/*
build/*
bld/*
bin/*
