*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.sdf
*.sln
*.opensdf
*.aps
*.i
*.vcproj
*.vcproj.*
CMakeCache.txt
cmake_install.cmake
*.ncb
DSpellCheck.dir/*
ZERO_CHECK.dir/*
CMakeFiles/*
Debug/*
MinSizeRel/*
Release/*
Win32/*
src/config.h
ipch/*