*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.sdf
*.sln
*.opensdf
*.aps
*.i
*.vcproj
*.vcproj.*
CMakeCache.txt
cmake_install.cmake
*.ncb
DSpellCheck.dir/*
ZERO_CHECK.dir/*
src/Hunspell/win_api/Release/*
src/Hunspell/win_api/Debug/*
src/libiconv/ReleaseStatic_Win32/*
src/libiconv/DebugStatic_Win32/*
src/libiconv/Win32/*
src/libiconv/libiconv.dir/*
CMakeFiles/*
src/libiconv/CMakeFiles/*
Debug/*
MinSizeRel/*
Release/*
Win32/*
src/config.h
ipch/*
lib/*